if view === "list"
	h2
		| Directories 
		small
			a#list-create(href="#0") create
			|  / 
			a#list-browse(href="#0") browse
	
	each file in data
		a.row-fluid.list-item(href="#0", data-file=file.file)
			div.span4.list-item-name
				h4(title=file.name) #{file.name}
			div.span8.list-item-path
				span.muted(title=file.file) #{file.path}
				button.close(tabindex="-1") ×

if view === "item"
	h2
		| #{opts.file.name} 
		small
			a#item-back(href="#0") back
	
	h4 Account
	div.row-fluid
		div.span4
			input.span12#item-user(type="email", placeholder="User", value=data.user, required)
			span.help-block Email address you sign in to Google Voice with. Most likely your Gmail address.
		div.span4
			input.span12#item-pass(type="password", placeholder="Pass", value=opts.file.pass, required)
			span.help-block Password you sign in to Google Voice with. If 2-step verification is on, use an application-specific password.
		div.span4.text-center
			label.checkbox.inline
				input#item-pass-save(type="checkbox", checked=!!opts.file.pass)
				| Save password
			span.help-block Save your password in bttrfly for future ease of use. Not secure and not recommended.
	
	h4
		| Contacts 
		small
			span#item-contacts-count #{data.contacts.length}
			|  / 
			a(href="#0") add
	div#item-contacts
		each contact, index in data.contacts
			div.well.well-small.item-contact(class=contact.skip && "muted", data-index=index)
				var #{contact.phone}
				input(type="checkbox", tabindex="-1", checked=!contact.skip)
				
				each val, key in contact
					unless key === "phone" || key === "skip"
						small.text-right #{key}:
						small.text-left #{val}
	
	div#item-compose
		h4
			| Message 
			small
				span#item-compose-count 160
		div.row-fluid
			div.span8
				textarea#item-compose-text(rows="2", required)
			div.span4
				div.span12.btn-group.btn-group
					button.btn.btn-large#item-send Send
					button.btn#item-test Test

if view === "send"
	div.modal-backdrop
	div.modal: div.modal-body
		h4#send-title
			| Sending... 
			small
				span#send-count 0
				|  of #{total}
		div.progress.progress-striped.active.pull-left#send-bar: div.bar
		button.btn#send-stop Stop
		pre.alert.alert-block.alert-info#send-log