h2
	| Directory 
	button.btn#directory-add +

each directory in list
	div.row-fluid.directory-item(tabindex="0")
		div.span3.directory-name
			h4(title=directory.name) #{directory.name}
		div.span3.directory-user
			span(title=directory.user) #{directory.user}
		div.span6.directory-path
			span(class=directory.valid ? "muted" : "text-error", title=directory.path) #{directory.path}
			button.close(tabindex="-1") ×