h2
	| Directories 
	small: a#directory-open(href="#") open

each name, path in directories
	a.row-fluid.directory-item(href="#", data-directory=path)
		div.span4.directory-name
			h4(title=name) #{name}
		div.span8.directory-path
			span.muted(title=path) #{path}
			button.close(tabindex="-1") ×